@page
@model OnlyJournalPage.Pages.HabitRecord.ArticleModel

<div class="card">
    <div class="card-body">
        <h2>@Model.Habit.Title</h2>
        <p>@Model.Habit.Description</p>
        <p>
            @for (int i = 0; i < Model.Habit.SuccessCount; i++)
            {
                @:<img src="/img/minerals64.png" style="width: 32px; height: 32px;"/>
                if (i % 7 == 6)
                {
                    <br />
                }
            }
        </p>
    </div>
    <div class="card-footer text-muted">
        <p id="countdown">1000</p>
    </div>
</div>

@section Scripts {
    @if (Model.DoSurfing)
    {
        <script type="text/javascript">
            registerArticleTimer(@Model.StaySeconds, $("#countdown"), "@Url.Page("/Surfing")");
        </script>
    }
}

@section Header {
    <partial name="_TodoPartial" model="Model.ImportantTodo" />
}