@model OnlyJournalPage.Data.Todo.Todo
@{
    Layout = null;
}

@if (Model != null)
{
    <div class="alert alert-info" role="alert">
        <p>
            <strong>@Model.Title</strong>: @Model.PriorTimeBegin ~ @Model.PriorTimeEnd
            <br/>
            @Model.Description
        </p>
    </div>
}