@page
@model OnlyJournalPage.Pages.Journal.ArticleModel

<div class="card">
    <div class="card-body">
        @Html.Raw(Model.ResultingHtml)
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        setTimeout(function () {
            window.location.href = "@Url.Page("/Surfing")";
        }, 15000);
    </script>
}

@section Header {
    <partial name="_TodoPartial" model="Model.ImportantTodo"/>
}