@page
@model OnlyJournalPage.Pages.Todo.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Todo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Todo.Title" class="control-label"></label>
                <input asp-for="Todo.Title" class="form-control" />
                <span asp-validation-for="Todo.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.Description" class="control-label"></label>
                <textarea asp-for="Todo.Description" class="form-control" style="resize: both; width: auto; min-width: 540px;"></textarea>
                <span asp-validation-for="Todo.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.PriorTimeBegin" class="control-label"></label>
                <input asp-for="Todo.PriorTimeBegin" class="form-control" />
                <span asp-validation-for="Todo.PriorTimeBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.PriorTimeEnd" class="control-label"></label>
                <input asp-for="Todo.PriorTimeEnd" class="form-control" />
                <span asp-validation-for="Todo.PriorTimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
